@import "../../styles/_config.scss";

.heading {
  @include flex($fd: row, $ai: center);
  width: 100%;

  & > :first-child,
  & > :last-child {
    flex-basis: 50%;
  }
  & > :nth-child(2) {
    flex-basis: 100%;
  }
}

.icon {
  @include flex($jc: flex-start, $ai: center);
  color: $grey;
  font-size: 1.5rem;
  user-select: none;

  svg {
    padding: 0 0.5rem 0 0;
    width: fit-content;
    cursor: pointer;
    transition: $transition-speed;

    &:hover,
    &:active,
    &.active {
      color: var(--color);
    }
  }
}
