@import "../../styles/_variables.scss";

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * {
    flex-basis: 100%;
  }
}

.icon {
  color: $grey;
  font-size: 1.25rem;

  span {
    padding: 0 0.5rem;
    cursor: pointer;
    transition: $transition-speed;

    &:hover,
    &:active {
      filter: brightness(0%);
    }
  }
}
