@import "../../styles/_variables.scss";

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon {
  color: $salmon;
  background-color: $white;
  border: 2px solid $salmon;
  border-radius: 6px;
  padding: 0.5rem;
  width: 4rem;
  text-align: center;
  cursor: pointer;
}

.active {
  background: $salmon;
  color: $white;
}
