@import "../../styles/_config.scss";

.button {
  position: relative;
  border: none;
  border-radius: 5px;
  color: $white;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  transition: $transition-speed;

  /* need to make these colours dynamic!! */
  background-color: $dark-yellow;
  border: 2px solid $dark-yellow;

  &:hover,
  &:active {
    background-color: scale-color($dark-yellow, $lightness: -20%);
    border-color: scale-color($dark-yellow, $lightness: -20%);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: $dark-yellow;
    border-color: $dark-yellow;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.invert {
  background-color: $white;
  color: $dark-yellow;

  &:hover,
  &:active {
    color: $white;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: $white;
    border-color: $dark-yellow;
    color: $dark-yellow;
  }
}

.large {
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.small {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}
