@import "../../styles/_config.scss";

.default {
  --color: #{$salmon};
}
.yellow {
  --color: #{$dark-yellow};
}
.red {
  --color: #{$dark-pink};
}
.blue {
  --color: #{$dark-blue};
}

.button {
  position: relative;
  border: none;
  border-radius: 5px;
  color: $white;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  transition: $transition-speed;
  background-color: var(--color);
  border: 2px solid var(--color);

  &:hover,
  &:active {
    filter: brightness(90%);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    filter: brightness(100%);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.invert {
  background-color: $white;
  color: var(--color);

  &:hover,
  &:active {
    color: $white;
    background-color: var(--color);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background-color: $white;
    border-color: var(--color);
    color: var(--color);
  }
}

.large {
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.small {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}
