@import "../../styles/_variables.scss";

.button {
  position: relative;
  background: $dark-pink;
  border: none;
  border-radius: 5px;
  color: $white;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  transition: $transition-speed;

  &:hover,
  &:active {
    /* filter: brightness(85%); */
	background: scale-color($dark-pink, $lightness: -20%);
  }
}

.large {
  margin: 3rem auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
