@import "../../styles/_variables.scss";

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 12rem;
  font-size: 0.875rem;

  label {
    font-weight: 700;
    color: $grey;
    margin-bottom: 0.5rem;
  }
}

.input:first-of-type {
  margin-left: 0;
}
