@import "../../styles/_config.scss";

.textarea {
  width: 100%;
  min-width: 20rem;
  min-height: 7rem;
  padding: 0.75rem 1rem;
  border: 1px solid $mid-grey;
  border-radius: 4px;
  resize: vertical;
}

.invalid {
  border: 1px solid $dark-pink;
}

.invalid__icon {
  position: absolute;
  right: 0;
  top: 0.8rem;
  color: $dark-pink;
  font-size: 1.25rem;
  margin-right: 1rem;
  stroke-width: 0;
}
