@import "../../styles/_config.scss";

.textarea {
  width: 100%;
  min-height: 7rem;
  padding: 1rem;
  border: 1px solid $mid-grey;
  border-radius: 8px;
  resize: vertical;

  @media (min-width: $media-min-width) {
    min-width: 20rem;
  }
}

.invalid {
  border: 1px solid $pastel-pink;
}

.invalid__icon {
  position: absolute;
  right: 0;
  top: 1rem;
  color: $dark-pink;
  font-size: 1.25rem;
  margin-right: 1rem;
  stroke-width: 0;
}
