/* Colours */
$white: #fff;
$off-white: #faf6f4;
$black: #111;
$grey: #4a4a4a;
$mid-grey: #cccccc;
$light-grey: #f2f2f2;

$pastel-pink: #ffadad;
$dark-pink: #fc6150;

$pastel-yellow: #fdffb6;
$dark-yellow: #f4b93d;

$pastel-blue: #90dbf4;
$dark-blue: #005ba9;

/* Dimensions */
$header-height-web: 6.8rem;
$header-height-mobile: 4.35rem;
$max-width: 60rem;

/* Spacing */
$letter-spacing: 0.03em;

/* Animation */
$transition-speed: 0.4s;

/* @Media */
$media-min-width: 40rem;
