$white: #f9f9f9;
$off-white: #fcf4ef;
$black: #111;
$grey: #4c5464;
$light-grey: #cccccc;
$salmon: #fc7061;
$salmon-dark: #fc6150;
$pink: #fab0a8;
$orange: #ed8366;
$yellow: #ffebc1;
$brown: #b99e9b;

$header-height: 6.875rem;
