/* Colours */
$white: #fafafa;
$off-white: #f3eed9;
$black: #111;
$grey: #4a4a4a;
$light-grey: #f2f2f2;
$salmon: #fc6150;

$pastel-pink: #ffadad;
$light-pink: #fff1f1;
$medium-pink: #ff8b8b;
$dark-pink: #F43D3D;

$pastel-yellow: #fdffb6;
$light-yellow: #feffe9;
$medium-yellow: #fcff83;
$dark-yellow: #f4b93d;

$pastel-blue: #90dbf4;
$light-blue: #edf9fd;
$medium-blue: #90dbf4;
$dark-blue: #005ba9;

/* Dimensions */
$header-height-web: 6.8rem;
$header-height-mobile: 4.35rem;
$max-width: 60rem;

/* Spacing */
$letter-spacing: 0.03em;

/* Animation */
$transition-speed: 0.4s;

/* @Media */
$media-min-width: 40rem;
