@import "../../styles/_config.scss";

.game {
  @include flex($fd: column, $gap: 2rem);
  margin: 2rem 0 0;

  @media (min-width: $media-min-width) {
    flex-direction: row-reverse;
  }

  aside {
    flex-grow: 1;
  }

  section {
    flex-grow: 3;
  }
}
