@import "../styles/_variables.scss";

.cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex: 0 1 100%;
    @media (min-width: 40rem) {
		flex: 0 1 25%;
    }
  }
}
