@import "../../styles/_variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  text-align: center;
  color: $grey;
  background-color: $white;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  margin: 0;

  & > * {
    flex-basis: 100%;
  }
}

.logo {
  font: {
    size: 1.2rem;
    weight: 800;
  }

  a {
    text-decoration: none;
    color: $grey;
    transition: $transition-speed;
    letter-spacing: $letter-spacing;

    &:hover,
    &:active {
      filter: brightness(0%);
    }
  }
}
