@import "../../styles/_variables.scss";

.sideDrawer {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: $white;
  padding: calc($header-height-mobile - 1rem) 0 1rem;

  @media (min-width: $media-min-width) {
    padding: calc($header-height-web - 1rem) 0 1rem;
  }
}

.enter {
  transform: translateX(-100%);

  @media (min-width: $media-min-width) {
    transform: translateY(-50%);
  }
}

.enterActive {
  transform: translateX(0);
  opacity: 1;
  transition: linear 200ms;

  @media (min-width: $media-min-width) {
    transform: translateY(0);
  }
}

.exit {
  transform: translateX(0%);
  opacity: 1;

  @media (min-width: $media-min-width) {
    transform: translateY(0);
  }
}

.exitActive {
  transform: translateX(-100%);
  opacity: 0;
  transition: linear 200ms;

  @media (min-width: $media-min-width) {
    transform: translateY(-50%);
  }
}
