@import "../../styles/_config.scss";

.default {
  --color: #{$grey};
}
.yellow {
  --color: #{$dark-yellow};
}
.red {
  --color: #{$dark-pink};
}
.blue {
  --color: #{$dark-blue};
}

.container {
  @include flex($fd: column-reverse, $jc: center, $gap: 2rem, $ai: baseline);
  margin: 0 0 2rem;
  width: 100%;

  @media (min-width: $media-min-width) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}

.controls {
  @include flex($gap: 1rem);
}

.flag {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbs {
  @include flex($fd: row, $jc: center, $fw: wrap, $gap: 0.5rem);

  .thumb {
    max-height: 3rem;
    max-width: 5rem;
    padding: 0.5rem;
    background-color: $light-grey;
    border-radius: 2px;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  .active {
    background-color: $dark-blue;
  }

  .correct {
    background-color: green;
  }
}
