@import "../../styles/_config.scss";

.default {
  --color: #{$grey};
}
.yellow {
  --color: #{$dark-yellow};
}
.red {
  --color: #{$dark-pink};
}
.blue {
  --color: #{$dark-blue};
}

.container {
  @include flex($fd: column, $jc: center, $gap: 2rem, $ai: baseline);
  margin: 0 0 2rem;
  width: 100%;

  @media (min-width: $media-min-width) {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.controls {
  @include flex($gap: 1rem);
}

.flag {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
