@import "../../styles/_config.scss";

.QuizInfo__header {
  @include flex($fd: row, $jc: space-between, $ai: center);
  width: 100%;

  small {
    color: var(--color);
    cursor: pointer;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
