@import "../../styles/_config.scss";

.default {
  --color: #{$grey};
}
.yellow {
  --color: #{$dark-yellow};
}
.red {
  --color: #{$dark-pink};
}
.blue {
  --color: #{$dark-blue};
  --pastelColor: #{$pastel-blue};
}

.thumbs {
  @include flex($fd: row, $jc: center, $fw: wrap, $gap: 0.5rem);

  .thumb {
    max-height: 3rem;
    max-width: 5rem;
    padding: 0.5rem;
    background-color: $light-grey;
    border-radius: 2px;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  .active {
    background-color: var(--color);
  }

  .correct {
    opacity: 0.5;
  }
}
