@import "../../../styles/_config.scss";

.default {
  --color: #{$grey};
}
.yellow {
  --color: #{$dark-yellow};
}
.red {
  --color: #{$dark-pink};
}
.blue {
  --color: #{$dark-blue};
}

.navItem {
  font-weight: 700;
  padding: 1rem;
  width: 100%;
  text-align: center;

  a {
    text-decoration: none;
    color: $grey;
    transition: $transition-speed;
    letter-spacing: $letter-spacing;
    &:hover,
    &:active,
    &.active {
      color: var(--color);
    }
  }
}
