@import "../../../styles/_variables.scss";

.navItems {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    @media (min-width: $media-min-width) {
      flex-direction: row;
    }
  }
}
