@import "../../../styles/_config.scss";

.hamburger {
  @include flex($fd: column, $jc: space-evenly, $ai: flex-start);
  height: 2.25rem;
  width: fit-content;
  padding: 0 0.5rem 0 0;
  cursor: pointer;
  transition: $transition-speed;

  &:hover,
  &:active,
  &.active {
    color: var(--color);
  }
}
