@import "../../styles/_config.scss";

.gameSection {
  @include flex($fd: column);
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}

.default {
  --dark-color: #{$mid-grey};
}

.red {
  --dark-color: #{$dark-pink};
}

.yellow {
  --dark-color: #{$dark-yellow};
}

.blue {
  --dark-color: #{$dark-blue};
}

.red,
.yellow,
.blue {
  background: $off-white;
}
