@import "../../styles/_config.scss";

.wrapper {
  @include flex($fd: column, $ai: center, $gap: 3rem);
  position: relative;
  border-radius: 6px;
  padding: 2rem;
  margin: 0;
  text-align: center;
  background: $white;
  box-shadow: -4px 4px 8px 0 $mid-grey;
}

.auto {
  width: 100%;
  @media (min-width: $media-min-width) {
    width: fit-content;
  }
}

.fixed {
  width: 100%;
  max-width: 40rem;
}

.aside {
  width: 100%;
  @media (min-width: $media-min-width) {
    max-width: 20rem;
  }
}
