@import "../../styles/_config.scss";

.wrapper {
  @include flex($fd: column, $ai: center, $gap: 3rem);
  position: relative;
  border-radius: 6px;
  padding: 2rem;
  margin: 0;
  text-align: center;
  background: $white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.auto {
  width: 100%;
  @media (min-width: $media-min-width) {
    width: fit-content;
  }
}

.fixed {
  width: 100%;
  max-width: 40rem;
}

.aside {
  width: 100%;
  @media (min-width: $media-min-width) {
    max-width: 20rem;
  }
}
