@import "../../styles/_variables.scss";

.charadeCard {
  width: 100%;
  max-width: 40rem;
  border-radius: 6px;
  padding: 1rem;
  margin: 3rem auto;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & > * {
    flex-basis: 100%;
  }

  h3 {
    color: $grey;
    font-size: 1rem;
  }

  svg {
    color: $salmon;
    font-size: 2rem;
  }
}
